@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;500;700&display=swap');

.header {
  width: 100vw;
  height: 70px;

  padding: 0 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  
  border-bottom: 1px solid transparent;
  border-radius: 50%;
  border-image: linear-gradient(to right, #c664fe, #fe66aa);
  border-image-slice: 1;

  /* background-image: linear-gradient(to right, #c664fe, #fe66aa); */
}

.title {
  /* color: #fff; */
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-weight: 700;
  font-size: 22px;
}

.navList {
  display: flex;
  align-items: center;
  gap: 24px;

  font-family: 'IBM Plex Sans KR', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #333;
}

.navList a {
  display: flex;
  align-items: center;
  gap: 4px;
}