.container {
  overflow-x: hidden;
  min-width: 1200px;
  min-height: 1200px;
}

.section {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.title {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin-bottom: 2%;
  margin-top: 3%;
}

.logo {
  width: 40%;
  height: 40%;
  margin-bottom: 3%;
}

.links {
  display: flex;
  justify-content: center;
  margin: 0;
}

.linkunit {
  z-index: 9999;
  display: flex;
  width: 30%;
  margin-left: 3%;
  margin-right: 6%;
}


@keyframes twinkle {
0% {
  transform: scale(1);
}
100% {
  transform: scale(1.2);
}
}

.linkItemo {
  width: 55%;
  height: auto;
  margin: auto;
  margin-top: 10%;
}

.linkItemo:hover {
  animation-name: twinkle;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.linkItemt {
 width: 60%;
 height: auto;
 margin: auto;
}

.linkItemt:hover {
  animation-name: twinkle;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  }


.imgChart {
  width: 25%;
  height: 85%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 9000;
}

.piepie {
  width: 21%;
  height: 41%;
  position: absolute;
  right: 0;
  top: 0;
}

.quarterpie {
  width: 45%;
  height: 45%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.titletext {
  width: 40%;
  margin-top: 3%;
}